@page
@model HealthCommunitiesCheck2.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/featherlight.min.css">
<link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="js/featherlight.min.js"></script>


@* <section id="about-us"> *@
@*     <div class="about-content"> *@
@*         <h2>Giới Thiệu Về Viện Y Học Community</h2> *@
@*         <p>Viện Y học Community được thành lập với mục tiêu phát triển y tế và đào tạo nhân lực chất lượng cao trong ngành y học, góp phần cải thiện sức khỏe cộng đồng. Viện luôn nỗ lực không ngừng để trở thành trung tâm nghiên cứu, giảng dạy và ứng dụng khoa học y học tiên tiến.</p> *@
@*     </div> *@
@* </section> *@

<section id="banner" class="fade-in">
    <a name="home"></a>
    <div class="wrapper">
        <h2>About Us</h2>
    </div>
</section>

<section class="text-section">
    <div class="wrapper">
        <div class="image align-left">
            <img src="images/light-bulb.png" alt="light bulb" class="align-left">
        </div>
        <div class="text align-left">
            <h3>We Love Bright Ideas</h3>
            <p class="subtitle">See Your Ideas Brought to Life</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis gravida blandit lacus a laoreet. Nullam sollicitudin urna metus, at malesuada orci fringilla in. Curabitur eleifend risus vitae ligula semper scelerisque. Nulla sed nisl nulla.</p>
            <p>Fusce interdum suscipit ipsum, quis mattis metus posuere sit amet. Mauris rutrum imperdiet tortor.</p>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section class="text-section">
    <div class="wrapper">
        <div class="image align-right">
            <img src="images/header.jpg" alt="light bulb" class="align-left" style="margin-top: 60px;">
        </div>
        <div class="text align-right">
            <h3>Let’s Talk</h3>
            <p class="subtitle">We’re here to listen to your needs</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis gravida blandit lacus a laoreet. Nullam sollicitudin urna metus, at malesuada orci fringilla in. </p>
            <ul class="list-checkmarks">
                <li>Curabitur eleifend risus vitae ligula semper scelerisque.</li>
                <li>Fusce interdum suscipit ipsum.</li>
                <li>Quis mattis metus posuere sit amet.</li>
                <li>Mauris rutrum imperdiet tortor.</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section class="text-section">
    <div class="wrapper">
        <div class="image align-left">
            <img src="images/header-image.jpg" alt="light bulb" class="align-left">
        </div>
        <div class="text align-left">
            <h3>We Love Bright Ideas</h3>
            <p class="subtitle">See Your Ideas Brought to Life</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis gravida blandit lacus a laoreet. Nullam sollicitudin urna metus, at malesuada orci fringilla in. Curabitur eleifend risus vitae ligula semper scelerisque. Nulla sed nisl nulla.</p>
            <p>Fusce interdum suscipit ipsum, quis mattis metus posuere sit amet. Mauris rutrum imperdiet tortor.</p>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section class="team-section fade-in">
    <a name="about"></a>
    <div class="wrapper">
        <h3>Our Experts</h3>
        <p class="subtitle">Meet Our Dedicated Team</p>
        <ul class="team-list">
            <li>
                <div class="image-container">
                    <img src="images/team-1.jpg" alt="team member">
                </div>
                <h5>Emily Nguyen</h5>
                <p>Chief Medical Researcher</p>
                <ul class="social-links">
                    <li><a href="#" class="linkedin">LinkedIn</a></li>
                    <li><a href="#" class="twitter">Twitter</a></li>
                </ul>
            </li>
            <li>
                <div class="image-container">
                    <img src="images/team-2.jpg" alt="team member">
                </div>
                <h5>Michael Tran</h5>
                <p>Director of Health Training</p>
                <ul class="social-links">
                    <li><a href="#" class="linkedin">LinkedIn</a></li>
                    <li><a href="#" class="twitter">Twitter</a></li>
                </ul>
            </li>
            <li>
                <div class="image-container">
                    <img src="images/team-3.jpg" alt="team member">
                </div>
                <h5>Sarah Le</h5>
                <p>Public Health Specialist</p>
                <ul class="social-links">
                    <li><a href="#" class="linkedin">LinkedIn</a></li>
                    <li><a href="#" class="twitter">Twitter</a></li>
                </ul>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</section>


