@page
@model HealthCommunitiesCheck2.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "Shared/MinimalLayout";
}
<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css" />
<link rel="stylesheet" href="css/sign-In-Up.css" />

<!-- JS -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="js/main.js"></script>





    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/images/signin-image.jpg" alt="sign in image" /></figure>
                    <a href="/Register" class="signup-image-link">Create an account</a>

                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign In</h2>
                    <form method="post" class="register-form" id="login-form">>
                        <div class="form-group">
                            <label for="Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="email" name="LoginData.Email" id="Email" placeholder="Your Email" />
                        </div>
                    <div class="form-group">
                        <label for="Password"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="LoginData.Password" id="Password" placeholder="Your Password" />
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="log in" />
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>

                </div>
            </div>
        </div>

    </section>
@if (!string.IsNullOrEmpty(Model.ErrorMessage)) 
 { 
     <div class="alert alert-danger mt-2">@Model.ErrorMessage</div> 
 }

